<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Articles</title>
</head>
<body>
    <h1>Enter the articles</h1>

    <form method="POST" action='/articles/add'>
        <label>Title</label><br>
        <textarea name="titles" cols="50" rows="7"></textarea>
        <br>
        <label>Author</label><br>
        <input type ="text" name="bodies">
        <br><br>
        <input type="submit" value="Submit">
         
    </form>
   
</body>
</html>