<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Articles</title>
</head>
<body>

   
        <h1><%=articles.link%></h1>
        <h4><%=authors.author%></h4>
        <hr>
        
        <form action="/posts/<%=articles._id%>"  method="POST">
            <input type="hidden" name="post_id" id="post_id">
            <textarea name="postComment" id="postComment" cols="70" rows="5"></textarea>
            <br>
            <input type="submit" value="add comment" id="addComment">
        </form>
                    
       
  

</body>
</html>